<form action="/historico-versoes" method="POST">
    <input type="hidden" name="id_versao" id="id_versao">

    <label for="id_estimativa">Estimativa:</label>
    <input type="number" name="id_estimativa" id="id_estimativa" required>

    <label for="data_modificacao">Data de Modificação:</label>
    <input type="date" name="data_modificacao" id="data_modificacao" required>

    <label for="autor">Autor:</label>
    <input type="text" name="autor" id="autor" required>

    <label for="motivo_revisao">Motivo da Revisão:</label>
    <textarea name="motivo_revisao" id="motivo_revisao"></textarea>
    <button type="submit">Salvar</button>
</form>
