<form action="/usuarios" method="POST">
    <input type="hidden" name="id_usuario" id="id_usuario">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="papel">Papel:</label>
    <select name="papel" id="papel">
        <option value="gestor">Gestor</option>
        <option value="analista">Analista</option>
        <option value="desenvolvedor">Desenvolvedor</option>
        <option value="cliente">Cliente</option>
    </select>
    <button type="submit">Salvar</button>
</form>
